# Python
__pycache__/
*.py[cod]
.env
.venv/
venv/

# Node / React / Electron
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
docker-data/
*.log


# React/Electron build outputs
build/
**/build/
dist/
out/

# Python tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage/

.env
*.env
backend/.env
backend/.env.*
!/.env.example
!/backend/.env.example
